

<div class="col-md-4 m-auto text-center">
    <div *ngIf="loading" class="spinner-border text-primary" role="status"></div>
</div>
<!-- Profile Card 4 -->
<div
    class="col-md-4 mt-4 m-auto">
    <div class="card profile-card-4">
        <div class="card-img-block">
            <div class="info-box">{{user.bio}}</div>
            <img
                class="img-fluid"
                src={{githubBg}}
                alt="Card image cap"
            >
        </div>
        <div class="card-body pt-5">
            <img
                src={{user.avatar_url}}
                alt="profile-image"
                class="profile"
            >
            <h5 class="card-title text-center">{{user.name}}  ({{user.location}})</h5>
            <p class="card-text text-center">{{user.bio}}</p>
            <div class="icon-block text-center">
                <a
                    href={{user.repos_url}}
                    target="_blank"
                >
                    <i class="fab fa-github"></i>
                </a>
                <a href={{user.twitter_username}}>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="mt-auto text-center">
        <div *ngIf="loadingRepo" class="spinner-border text-primary" role="status"></div>
    </div>
    <mdb-card  *ngIf="userRepos.length > 1">
        <mdb-card-header class="text-center">LISTE OF YOUR REPOSITORIES</mdb-card-header>
        <ul class="list-group list-group-flush" *ngFor="let repo of (userRepos | sort : 'stargazers_count')">
            <li class="list-group-item">
                <a href={{repo.html_url}} target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <span> {{repo.name}}</span>
            </li>
        </ul>
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue" *ngFor="let page of (userRepos.length|range : 5)">
              <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
            </ul>
        </nav>
    </mdb-card>
</div>

