<div class="col-md-4 m-auto text-center">
    <div
        *ngIf="loading"
        class="spinner-border text-primary"
        role="status"
    ></div>
</div>

<!-- Profile Card 4 -->
<div class="col-md-4 mt-4 m-auto" *ngIf="user.name">
    <div class="card profile-card-4">
        <div class="card-img-block">
            <div class="info-box">{{user.bio}}</div>
            <img
                class="img-fluid"
                src={{githubBg}}
                alt="Card image cap"
            >
        </div>
        <div class="card-body pt-5">
            <img
                src={{user.avatar_url}}
                alt="profile-image"
                class="profile"
            >
            <h5 class="card-title text-center">{{user.name}}  ({{user.location}})</h5>
            <p class="card-text text-center">{{user.bio}}</p>
            <div class="icon-block text-center">
                <a
                    href={{user.repos_url}}
                    target="_blank"
                >
                    <i class="fab fa-github"></i>
                </a>
                <a href={{user.twitter_username}}>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="col-md-4 m-auto">
        <div class="alert alert-danger" *ngIf="!user.name" role="alert">
            {{ errorTitle }}
        </div>
    </div>
    <div class="mt-auto text-center">
        <div
            *ngIf="loadingRepo"
            class="spinner-border text-primary"
            role="status"
        ></div>
    </div>
    <mdb-card>
        <mdb-card-header class="text-center" *ngIf="userRepos.length > 0">
            <h2>{{title}}</h2>
            <div class="row justify-content-center  w-100">
                <form
                    class="form-inline md-form form-sm"
                    (submit)="doSearch($event);"
                >
                    <mdb-icon
                        fas
                        icon="search"
                        aria-hidden="true"
                    ></mdb-icon>
                    <input
                        class="form-control form-control-sm ml-3 w-75"
                        [(ngModel)]="search"
                        name="search"
                        type="text"
                        placeholder="Search"
                        aria-label="Search"
                        mdbInput
                    >
                </form>
            </div>
        </mdb-card-header>
        <div class="row justify-content-center">
            <mdb-card
                class="col col-md-3 m-1"
                *ngFor="let repo of userRepos"
            >
                <div
                    class="view rgba-white-slight waves-light"
                    mdbWavesEffect
                >
                    <mdb-card-img
                        src={{githubReps}}
                        alt="Card image cap"
                    ></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>{{repo.name}}</h4>
                    </mdb-card-title>
                    <mdb-card-text>{{repo.description}}</mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="text-center">
                    <a
                        href={{repo.html_url}}
                        target="_blank"
                        mdbWavesEffect
                    >
                        <i class="fab fa-lg fa-github"></i>
                    </a>
                </mdb-card-footer>
            </mdb-card>
        </div>
    </mdb-card>
</div>
