<div class="col-md-4 m-auto text-center">
    <div
        *ngIf="loading"
        class="spinner-border text-primary"
        role="status"
    ></div>
</div>

<!-- Profile Card 4 -->
<div class="col-md-4 mt-4 m-auto" *ngIf="user.name">
    <div class="card profile-card-4">
        <div class="card-img-block">
            <div class="info-box">{{user.bio}}</div>
            <img
                class="img-fluid"
                src={{githubBg}}
                alt="Card image cap"
            >
        </div>
        <div class="card-body pt-5">
            <img
                src={{user.avatar_url}}
                alt="profile-image"
                class="profile"
            >
            <h5 class="card-title text-center">{{user.name}}  ({{user.location}})</h5>
            <p class="card-text text-center">{{user.bio}}</p>
            <div class="icon-block text-center">
                <a title="Github profile" href={{user.html_url}} class="chip blue lighten-4 waves-effect">
                    <i class="fab fa-github" aria-hidden="true"></i>
                    {{user.name}}
                </a>
                <a title="Public repository" href={{user.html_url}} class="chip blue lighten-4 waves-effect">
                    <i class="fas fa-folder" aria-hidden="true"></i>
                    {{user.public_repos}}
                </a>
                <a title="Followers" href="https://github.com/julkwel?tab=followers" class="chip blue lighten-4 waves-effect">
                    <i class="fas fa-user-friends" aria-hidden="true"></i>
                    {{user.followers}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="col-md-4 m-auto">
        <div class="alert alert-danger" *ngIf="!user.name" role="alert">
            {{ errorTitle }}
        </div>
    </div>
    <div class="mt-auto text-center">
        <div
            *ngIf="loadingRepo"
            class="spinner-border text-primary"
            role="status"
        ></div>
    </div>
    <mdb-card>
        <mdb-card-header class="text-center" *ngIf="userRepos.length > 0">
            <h2>{{title}}</h2>
            <div class="row justify-content-center  w-100">
                <form
                    class="form-inline md-form form-sm"
                    (submit)="doSearch($event);"
                >
                    <mdb-icon
                        fas
                        icon="search"
                        aria-hidden="true"
                    ></mdb-icon>
                    <input
                        class="form-control form-control-sm ml-3 w-75"
                        [(ngModel)]="search"
                        name="search"
                        type="text"
                        placeholder="Search"
                        aria-label="Search"
                        mdbInput
                    >
                </form>
            </div>
        </mdb-card-header>
        <div class="row justify-content-center">
                <!--Card-->
                <mdb-card class="col-md-3 m-1" *ngFor="let repo of userRepos">
                  <!--Card image-->
                  <div class="view view-cascade overlay waves-light d-flex justify-content-center text-center" mdbWavesEffect>
                    <img width="100" height="100" class="rounded-circle" src={{repo.owner.avatar_url}} />
                  </div>
                  <!--/Card image-->
            
                  <mdb-card-body class="text-center">
                    <!--Card content-->
                    <strong>@{{repo.owner.login}}</strong>
                    <h5>{{repo.name}}</h5>
                    <mdb-card-text>
                        {{repo.description}}
                    </mdb-card-text>
                  </mdb-card-body>
                  <!--/.Card content-->

                  <mdb-card-footer class="text-center">
                      <!--Twitter-->
                      <a target="_blank" type="button" href={{repo.html_url}} mdbBtn size="sm" color="tw" class="waves-light" mdbWavesEffect>
                        <i class="fab fa-github text-danger"></i>
                      </a>
                  </mdb-card-footer>
                </mdb-card>
                <!--/.Card-->
        </div>
    </mdb-card>
</div>
